QTabWidget QTabBar {
    background-color: #136ba2;
    font: 10pt "Arial";
    margin-left: 22px;
    margin-right: 22px;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabBar::tab{
    background: #bd1b1b;
    border-bottom: 2px solid #bd1b1b;
}

QTabWidget QTabBar::tab {
    background-color: #136ba2;
    height: 40px;
    color: white;
    font-size: 18px;
    
}

QTabWidget QTabBar::tab:selected {
    background-color: #0f5d90;
    width: 256px;
}


QTabBar::tab:first {
    border-left: 4px solid #bd1b1b;
    border-bottom-left-radius: 4px;
    margin-left: 5px;}

QTabBar::tab:last-child {
    border-left: 4px solid #bd1b1b;
    border-bottom-right-radius: 4px;
    margin-right: 5px;}